<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new THREAD</title>
</head>
<body>
    <form  method="post" action="/post">
        
        <input type="text" placeholder="username" name="username" id ="username">
        <br>
        <textarea name="content" id="content" placeholder="content" rows="10" cols="30"></textarea>
        <br>
        <button>submit</button>
    </form>
</body>
</html>