<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show THREAD</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <div class="person">
    <h3> ID : <%=p.id%></h3>
   <h3>USERNAME : <%=p.username%></h3>
   <h3>CONTENT : <%=p.content%></h3>
</div>
<a href="/post ">back</a>
</body>
</html>